@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray bg-black text-[1rem];
}

body::before {
  width: 100%;
  height: 80%;
  content: "";
  position: fixed;
  background: radial-gradient(
    75.61% 75.61% at 50% 24.39%,
    rgb(16, 15, 15) 0%,
    rgb(12, 13, 12) 100%
  );
  z-index: -1;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Medium.ttf");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #00dc82;
}

::selection {
  color: #fff;
  background: #00dc82;
}

select {
  /*@apply bg-*/
}

.bg-blur {
  @apply backdrop-blur-md;
}

.container {
  @apply mx-auto max-w-[660px] px-8 lg:px-2;
}

.page-section {
  @apply mt-28 sm:mt-28;
}

.title {
  @apply text-4xl font-bold capitalize text-white md:text-[2.75rem];
}

.subtitle {
  @apply text-2xl font-bold capitalize text-white sm:text-[1.875rem];
}

.label {
  @apply bg-special/10 text-special border-special/5 select-none rounded-lg border px-2 py-1 text-xs;
}

.link {
  @apply hover:text-special hover:decoration-special text-white underline decoration-white/20  decoration-dotted underline-offset-4 transition duration-300 ease-in-out  hover:decoration-solid active:decoration-white;
}

.nav-link {
  @apply hover:decoration-special hover:text-special text-white underline decoration-white/20 decoration-dotted underline-offset-8 transition duration-300 ease-in-out hover:decoration-solid;
}

.btn {
  @apply rounded-md py-1 px-3 hover:drop-shadow-xl;
}

.btn-primary {
  @apply bg-white/80;
  background: linear-gradient(88.68deg, #0ad27d -36.99%, #6aecb8 111.2%);
}

.paragraph {
  @apply text-paragraph mt-2 max-w-xl;
}

.paragraph-heading {
  @apply text-special decoration-special/20 pt-10 leading-none underline underline-offset-4;
}
