@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray bg-black text-[1rem];
}


@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Medium.ttf");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #00dc82;
}

::selection {
  color: #fff;
  background: #00dc82;
}

select {
  /*@apply bg-*/
}

.bg-blur {
  @apply backdrop-blur-md;
}

.container {
  @apply mx-auto max-w-[660px] px-8 lg:px-2;
}

.page-section {
  @apply mt-28;
}

.title {
  @apply text-4xl font-bold capitalize text-white md:text-[2.75rem];
}

.subtitle {
  @apply mb-5 text-2xl font-bold capitalize text-white sm:text-[1.875rem];
}

.label {
  @apply bg-special/10 text-special border-special/5 select-none rounded-lg border px-2 py-1 text-xs;
}

.link {
  @apply hover:text-special hover:decoration-special text-white underline decoration-white/20  decoration-dotted underline-offset-4 transition duration-300 ease-in-out  hover:decoration-solid active:decoration-white;
}

.nav-link {
  @apply hover:decoration-special hover:text-special text-white underline decoration-white/20 decoration-dotted underline-offset-8 transition duration-300 ease-in-out hover:decoration-solid;
}

.btn-primary {
  @apply bg-white/80;
  background: linear-gradient(88.68deg, #0ad27d -36.99%, #6aecb8 111.2%);
}

.paragraph {
  @apply text-paragraph mt-2 max-w-xl;
}

.paragraph-heading {
  @apply text-special mt-10  leading-none;
}

.btn {
  @apply bg-special hover:bg-special/80 rounded-xl px-4 py-2 text-sm font-medium text-black transition duration-300 ease-in-out hover:text-black;
}

